{% macro testComponent(param) -%}
<div class='custom-table-td'>
    hello there{{ param }}
</div>
{%- endmacro %}

{% macro biIcon(name, attributes) -%}
<i class="bi bi-{{ name }}" {{ attributes | safe}}></i>
{%- endmacro %}

{% macro faIcon(name, attributes) -%}
<i class="fa fa-{{ name }}" {{ attributes | safe}}></i>
{%- endmacro %}

{% macro verboseIcon(provider, name, attributes) -%}
<i class="{{ provider }} {{ provider }}-{{ name }}" {{ attributes | safe}}></i>
{%- endmacro %}


{% macro icon(value, attributes) %}
{% set parts = value.split('-', 1) %}
{% if parts|length == 2 %}
{{ verboseIcon(parts[0], parts[1], attributes) }}
{% else %}
<div>Error: Invalid icon format</div>
{% endif %}
{% endmacro %}


{% macro readOnlyTable(display_data) -%}


{# hack to get number of columns #}
{% set col_num_hack = 'style="--num-columns:' + (display_data["column_names"] | length ) | string + ';"'
%}

<div class='custom-table-table' readonly {{ col_num_hack | safe }}>
    <div class='custom-table-thead'>

        <div class='custom-table-tr'>
            {% for column in display_data["column_names"] %}
            <div class='custom-table-th' scope="col">
                {{ util.convert_snake_case_to_readable(column) }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='custom-table-tbody'>
        {% for row in display_data["result"] %}
        <div class='custom-table-tr'>

            {% for col_name in display_data["column_names"] %}
            {% set entry_value = row[col_name] %}
            <div class='custom-table-td'>
                {{ entry_value }}
            </div>

            {% endfor %}
        </div>
        {% endfor %}

    </div>

</div>
</div>


{%- endmacro %}


{% macro inputForColumn(col_data, inital_value, add_readonly, oninput) -%}

{% set col_name= col_data["name"] %}
{% set readable_column_name = util.convert_snake_case_to_readable(col_name) %}

{% if col_data['foreign_keys']|length > 0 %}
{# check if column has foreign keys #}
<select name="{{ col_name }}" id="input_{{ col_name }}" class="form-control" required oninput="{{ oninput | safe}}">

    <option>Select {{ readable_column_name }}...</option>
    {% for refs in col_data['foreign_keys'].values() %}
    {% for fk in refs %}

    {% if fk[0] == inital_value %}
    <option value="{{ fk[0] }}" selected>
        {% else %}
    <option value="{{ fk[0] }}">
        {% endif %}

        ({{ fk[0] }}) {{fk[1:]|join(" ") }}

    </option>

    {% endfor %}
    {% endfor %}
</select>

{% if add_readonly %}
<select disabled readonly class="form-control" value="{{ inital_value }}">

    {% for refs in col_data['foreign_keys'].values() %}
    {% for fk in refs %}

    {% if fk[0] == inital_value %}
    <option value="{{ fk[0] }}" selected> ({{ fk[0] }}) {{fk[1:]|join(" ") }} </option>
    {% endif %}

    {% endfor %}
    {% endfor %}

</select>{% endif %}

{% else %}
{# otherwise, get type and use appropriate form eleemnt #}
{% if col_data['type'] == 'int' %}

<input type="number" oninput="{{ oninput }}" name="{{ col_name }}" class="form-control" value="{{ inital_value }}"
    id="input_{{ col_name }}" placeholder="{{ readable_column_name }}" min="0" required />

{# handle decimal types with appropriate precision #}
{% elif col_data['type'].startswith('decimal') %}
{% set precision = col_data['type'].split('(')[1].split(')')[0] %}
{% set x, y = precision.split(',') %}
{% set step_value = '0.' + '0' * (y|int - 1) + '1'%}
<input type="number" oninput="{{ oninput }}" name="{{ col_name }}" class="form-control" value="{{ inital_value }}"
    id="input_{{ col_name }}" placeholder="{{ readable_column_name }}" step="{{ step_value }}" min="0" required />

{% elif col_data['type'] == 'date' %}
<input type="date" oninput="{{ oninput }}" name="{{ col_name }}" value="{{ inital_value }}" class="form-control"
    id="input_{{ col_name }}" required />

{% else %}
<input type="text" oninput="{{ oninput }}" name="{{ col_name }}" value="{{ inital_value }}" class="form-control"
    id="input_{{ col_name }}" placeholder="{{ readable_column_name }}" required />

{% endif %}
{% if add_readonly %}
<input disabled readonly class="form-control" value="{{ inital_value }}" />
{% endif %}
{% endif %}
{%- endmacro %}


























































{% block page %}
{% endblock %}