{% extends "base_template.html" %}

{% block main %}
{% set columns = table_data[0].keys() %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ crud_op.title() }}: {{ util.convert_table_to_plaintext(table) }}</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            {% for column in columns %}
                            <th scope="col">{{ util.convert_snake_case_to_readable(column) }}</th>

                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_data %}
                        <tr>
                            {% for column in columns %}
                            <td>{{ row[column] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <i class="bi bi-x-square"></i>
        </div>
    </div>
</div>
{% endblock %}