{% extends "crud_base.html" %}

{% block crud %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                {% for column in columns_data.keys() %}
                <th scope="col">{{ util.convert_snake_case_to_readable(column) }}</th>

                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                {% for column in columns_data.keys() %}
                <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}