{% extends "crud_base.html" %}

{% block crud_styles %}
<link rel="stylesheet" href="../static/css/crud.css"/>
{% endblock %}

{% block crud_scripts %}
<script src="../static/js/crud.js"></script>
{% endblock %}

{% block crud %}

<!-- {% print(columns_data) %} -->

<form class='needs-validation' onsubmit='submitCreate("{{ table }}"); return false;'>
    {% for col_name, col_data in columns_data.items() %}
    {% set readable_column_name = util.convert_snake_case_to_readable(col_name) %}

    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="input_{{ col_name }}"> {{ readable_column_name }}</label>

            {% if col_data['extra'] == 'auto_increment' %} <!--check if column is auto_increment -->
            <span>(automatically incremented)</span>
            {% elif col_data['foreign_keys']|length > 0 %} <!--check if column has foreign keys -->
            <select name="{{ col_name }}" id="input_{{ col_name }}" class="form-control" required>
                <option selected disabled value="">Choose {{ readable_column_name }}...</option>
                {% for refs in col_data['foreign_keys'].values() %}
                {% for fk in refs %}
                <option value="{{ fk[0] }}">({{ fk[0] }}) {{fk[1:]|join(" ") }}</option>
                {% endfor %}
                {% endfor %}
            </select>

            <!--otherwise, get type and use appropriate form eleemnt -->
            {% elif col_data['type'] == 'int' %}
            <input type="number" e="{{ col_data['extra'] }}" name="{{ col_name }}" class="form-control"
                id="input_{{ col_name }}" placeholder="Enter number" min="0" required>
            {% elif col_data['type'] == 'date' %}
            <input type="date" name="{{ col_name }}" class="form-control" id="input_{{ col_name }}" required>
            {% else %}
            <input type="text" name="{{ col_name }}" class="form-control" id="input_{{ col_name }}"
                placeholder="Enter value" required>
            {% endif %}

        </div>
    </div>

    {% endfor %}

    <div class="button-group">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-{{ util.get_crud_icon(crud_op) }}"></i>
            Create
        </button>
        <button type="button" class="btn btn-disabled">
            <i class="bi bi-check-lg"></i>
            Created
        </button>
        <button type="button" class="btn btn-secondary" onclick="resetForm( )">
            <i class="bi bi-arrow-clockwise"></i>
            Add a new entry
        </button>
    </div>

</form>


{% endblock %}